<app-root>Loading ag-Grid....</app-root>
<div>
    <ag-grid-angular
    #agGrid
    style="width:600px; height: 500px;"
    (gridReady)="onGridReady($event)"
    [gridOptions]="gridOptions"
    [rowData]="rowData"
    >
    </ag-grid-angular>  

</div>

<!--
#agGrid
    style="width: 100%; height: 100%;"
    id="myGrid"
    [rowData]="rowData"
    class="ag-theme-balham"
    [columnDefs]="columnDefs"
    [enableSorting]="true"
    [enableFilter]="true"
    [debug]="true"
    [rowSelection]="rowSelection"
    [enableColResize]="true"
    [paginationPageSize]="paginationPageSize"
    [pagination]="true"
    [suppressPaginationPanel]="true"
    [suppressScrollOnNewData]="true"
    (paginationChanged)="onPaginationChanged($event)"
    (gridReady)="onGridReady($event)"
    [rowModelType]="infinite"

-->
